target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_23_5_2024_10_37__Changes_.xml
/colasdeespera/src/org/grupo10/sistema_totem/vista/MainTotem.java
/.idea/shelf/Uncommitted_changes_before_Update_at_3_5_2024_17_04_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_10_5_2024_13_16_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_16_4_2024_10_40_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_23_5_2024_10_37_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_23_5_2024_10_37_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_3_5_2024_17_04__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_10_5_2024_13_16__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_16_4_2024_10_40__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_23_5_2024_10_37__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_3_5_2024_17_04_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_10_5_2024_13_16_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_16_4_2024_10_40_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_23_5_2024_10_37_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_23_5_2024_10_37_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_3_5_2024_17_04_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_10_5_2024_13_16_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_16_4_2024_10_40_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_23_5_2024_10_37_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_23_5_2024_10_37_[Changes]1/shelved.patch
